@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap");

body {
  background-image: linear-gradient(
    to left bottom,
    #1d24ca,
    #0056e5,
    #007cf5,
    #009efb,
    #25bdfd,
    #54cdfd,
    #79dcfd,
    #9cebfe,
    #a1f0fd,
    #a7f5fc,
    #aefafb,
    #b6fffa
  );
  margin: 0;
  font-family: "Roboto Slab", serif;
}
.prime-bg {
    background-image: linear-gradient(
        to left bottom,
        #1d24ca,
        #0056e5,
        #007cf5,
        #009efb,
        #25bdfd,
        #54cdfd,
        #79dcfd,
        #9cebfe,
        #a1f0fd,
        #a7f5fc,
        #aefafb,
        #b6fffa
      );
}
